/*                     importi                                             */	
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');





body {
	font-family: 'Lato', sans-serif;
	background-color: rgba(248, 252, 255, 0.699);
	/*background-image: url(gal-22.png);
	background-repeat: no-repeat;
	background-position: center;*/
  }
  :root{
    --tenne-tawny:#4bd6b3;
    --tenne-tawny-dark: #297562;
}
	/* Ovde krece Nav-bar ............................................*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #444;
	position: -webkit-sticky; /* Safari */
	position: relative;
	top: 0;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover {
	background-color: #000000;
  }
  
  .active {
	background-color:#000000;
  }

	/* Ovde krece home page galerija ................................. */
  
  h1, h2 {
	font-family: 'Fjalla One', sans-serif;
	margin-top: 0;
	text-transform: uppercase;
  }
  
  figure {
	margin: 0;
  }
  
  img {
	height: auto;
	width: 100%;  
  }
  
  .wrapper {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 2fr;
	grid-auto-rows: minmax(100px, auto);
	margin: 24px;
	max-width: 1000px;
	position: relative;
  }
  
  .wrapper > * {
	grid-column: 1 / span 2;
  }
  
  .header {
	font-size: 1.5em;
	grid-row: 1 / 2;
  }
  
  header:after {
	background: #4bd6b3;
	content: "";
	display: block;
	height: 20px;
	width: auto;
  }
  
  .article {
	text-align: right;
  }
  
  .featured-image-1 {
	grid-row: 2 / 3;
  }
  
  .number-1 {
	grid-row: 2 / 4;
  }
  
  .featured-image-2, .number-2 {
	grid-row: 4 / 5;
  }
  
  .number-1, .number-4 {
	align-self: end;
	color: #4bd6b3;
	opacity: 0.6;
	font-family: 'Fjalla One', sans-serif;
	font-size: 480px;
	line-height: 480px;
	grid-column: 1 / 2;
  }
  
  .article-1, .article-4 {
	grid-column: 2 / 3;
  }
  
  .featured-image-2, .number-2 {
	align-self: end;
  }
  
  .number-2 {
	color:#4bd6b3;
	opacity: 0.87;
	font-size: 200px;
	justify-self: end;
	line-height: 160px;
  }
  
  .number-3 {
	background: black;
	border-radius: 130px;
	color: white;
	font-family: 'Fjalla One', sans-serif;
	font-size: 100px;
	height: 130px;
	line-height: 130px;
	position: absolute;
	grid-row: 6 / 7;
	right: -20px;
	text-align: center;
	top: -20px;
	width: 130px;
  }
  
  .featured-image-3 img {
	height: 100%;
  }
  
  .number-4 {
	font-size: 320px;
	left: -20px;
	line-height: 320px;
	position: absolute;
  }
  
  @media (min-width: 600px) {
	
	.wrapper {
	  grid-template-columns: repeat(2, 1fr 2fr);
	  margin: 24px auto;
	}
	
	.header {
	  grid-column: 3 / 5;
	  width: 70%;
	}
	
	.featured-image-1 {
	  grid-row: 1 / 3;
	}
	
	.article-1 {
	  grid-row: 3 / 4;
	  
	}
	
	.article-2 {
	  grid-column: 4 / 5;
	  grid-row: 4 / 5;
	}
	
	.featured-image-2, .number-2 {
	  grid-column: 3 / 5;
	  grid-row: 2 / 4;
	}
  
	.featured-image-3, .number-3 {
	  grid-row: 4 / 6;
	}
	
	.featured-image-4, .number-4 {
	  grid-column: 3 / 5;
	  grid-row: 5 / 6;
	}
	
	.number-4 {
	  font-size: 320px;
	  grid-row: 5 / 7;
	}
	
	.article-3, .article-4 {
	  grid-row: 6 / 7;
	}
	
	.article-4 {
	  grid-column: 4 / 5;
	}
	
  }
  /* vde krece Food main page ......................................................................*/
.btn{
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;
}
.text{
    opacity: 0.8;
}
.title{
    font-size: 2rem;
    margin-bottom: 1rem;
}

/*  */
.container{
    min-height: 100vh;
}
.meal-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    background: rgba(248, 252, 255, 0.699);
    text-align: center;
}
.meal-search{
    margin: 2rem 0;
}
.meal-search cite{
    font-size: 1rem;
}
.meal-search-box{
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
}
.search-control,
.search-btn{
    width: 100%;
}
.search-control{
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid var(--tenne-tawny);
    color: var(--tenne-tawny);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.search-control::placeholder{
    color: var(--tenne-tawny);
}
.search-btn{
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: var(--tenne-tawny);
    color: #fff;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.search-btn:hover{
    background: var(--tenne-tawny-dark);
}
.meal-result{
    margin-top: 4rem;
}
#meal{
    margin: 2.4rem 0;
}
.meal-item{
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 2rem 0;
}
.meal-img img{
    width: 100%;
    display: block;
}
.meal-name{
    padding: 1.5rem 0.5rem;
}
.meal-name h3{
    font-size: 1.4rem;
}
.recipe-btn{
    text-decoration: none;
    color: #fff;
    background: var(--tenne-tawny);
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.recipe-btn:hover{
    background: var(--tenne-tawny-dark);
}

/* meal details */
.meal-details{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: #000000;
    background: var(--tenne-tawny);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    display: none;
    padding: 2rem 0;
}
.meal-details::-webkit-scrollbar{
    width: 10px;
}
.meal-details::-webkit-scrollbar-thumb{
    background: #f0f0f0;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}


/* js related */
.showRecipe{
    display: block;
}

.meal-details-content{
    margin: 2rem;
}
.meal-details-content p:not(.recipe-category){
    padding: 1rem 0;
}
.recipe-close-btn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: #fff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}
.recipe-title{
    letter-spacing: 1px;
    padding-bottom: 1rem;
}
.recipe-category{
    background: #fff;
    font-weight: 600;
    color: var(--tenne-tawny);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}
.recipe-category{
    background: #fff;
    font-weight: 600;
    color: var(--tenne-tawny);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}
.recipe-instruct{
    padding: 1rem 0;
}
.recipe-meal-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
    display: block;
}
.recipe-link{
    margin: 1.4rem 0;
}
.recipe-link a{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.recipe-link a:hover{
    opacity: 0.8;
}


/*  */
.notFound{
    grid-template-columns: 1fr!important;
    color: var(--tenne-tawny);
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
}






/* Media Queries */
@media screen and (min-width: 600px){
    .meal-search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    #meal{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .meal-item{
        margin: 0;
    }
    .meal-details{
        width: 700px;
    }
}

@media screen and (min-width: 992px){
    #meal{
        grid-template-columns: repeat(3, 1fr);
    }
}
/* Ovde krece Footer ................................. */
  
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
.footer-distributed{
	background: #444;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 50px 60px 40px;
	overflow: hidden;
}

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed .footer-left{
	float: left;
}

/* Za logo koji nisam jos napravio  */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Roboto', cursive;
	margin: 0 0 10px;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer linkovi za strane  */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Ikonice */

.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

